<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Eclipse 2025-03 Target Platform" sequenceNumber="1761239260">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.logging" version="1.2.0"/>
      <unit id="org.eclipse.platform.feature.group" version="4.35.0.v20250228-0640"/>
      <unit id="org.eclipse.pde.core" version="3.20.100.v20250211-2032"/>
      <unit id="org.eclipse.equinox.p2.core" version="2.13.0.v20250129-0522"/>
      <unit id="org.eclipse.equinox.p2.repository" version="2.9.300.v20250212-0912"/>
      <unit id="org.eclipse.equinox.p2.metadata" version="2.9.300.v20250129-0519"/>
      <unit id="org.eclipse.jdt.launching" version="3.23.200.v20250110-0740"/>
      <unit id="org.eclipse.osgi.services" version="3.12.200.v20241212-0858"/>
      <repository location="https://download.eclipse.org/releases/2025-03/202503121000/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore" version="2.38.0.v20241018-1213"/>
      <unit id="org.eclipse.emf.ecore.xcore" version="1.32.0.v20241204-1212"/>
      <unit id="org.eclipse.emf.ecore.xcore.lib" version="1.7.0.v20230204-1018"/>
      <repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.41.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe.core" version="1.15.0.v20250222-0818"/>
      <unit id="org.eclipse.emf.mwe2.launch" version="2.21.0.v20250222-0818"/>
      <unit id="org.eclipse.emf.mwe2.lib" version="2.21.0.v20250222-0818"/>
      <repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.21.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.gson" version="2.12.1"/>
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/release/4.35.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository location="https://download.eclipse.org/cbi/updates/license/2.0.2.v20181016-2210"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.ui.feature.group" version="2.38.0.v20250226-0658"/>
      <unit id="org.eclipse.xtext.xtext.ui.feature.group" version="2.38.0.v20250226-0658"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="2.38.0.v20250226-0658"/>
      <unit id="org.eclipse.xtext.testing" version="2.38.0.v20250226-0658"/>
      <unit id="org.eclipse.xtext.xbase.testing" version="2.38.0.v20250226-0658"/>
      <unit id="org.eclipse.xtext.xbase.ui.testing" version="2.38.0.v20250226-0658"/>
      <unit id="org.objectweb.asm" version="9.7.1"/>
      <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.38.0"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
</target>
