<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Eclipse 2025-09 Target Platform" sequenceNumber="1761239729">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.logging" version="1.2.0"/>
      <unit id="org.eclipse.platform.feature.group" version="4.37.0.v20250905-0730"/>
      <unit id="org.eclipse.pde.core" version="3.21.0.v20250813-2022"/>
      <unit id="org.eclipse.equinox.p2.core" version="2.13.100.v20250317-0903"/>
      <unit id="org.eclipse.equinox.p2.repository" version="2.9.500.v20250721-0421"/>
      <unit id="org.eclipse.equinox.p2.metadata" version="2.9.500.v20250726-1041"/>
      <unit id="org.eclipse.jdt.launching" version="3.23.400.v20250812-0543"/>
      <unit id="org.eclipse.osgi.services" version="3.12.300.v20250707-1221"/>
      <repository location="https://download.eclipse.org/releases/2025-09/202509101001/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore" version="2.40.0.v20250803-1633"/>
      <unit id="org.eclipse.emf.ecore.xcore" version="1.34.0.v20250803-1633"/>
      <unit id="org.eclipse.emf.ecore.xcore.lib" version="1.7.1.v20250415-0903"/>
      <repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.43.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe.core" version="1.17.0.v20250823-0643"/>
      <unit id="org.eclipse.emf.mwe2.launch" version="2.23.0.v20250823-0643"/>
      <unit id="org.eclipse.emf.mwe2.lib" version="2.23.0.v20250823-0643"/>
      <repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.23.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.gson" version="2.13.1"/>
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/release/4.37.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository location="https://download.eclipse.org/cbi/updates/license/2.0.2.v20181016-2210"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.ui.feature.group" version="2.40.0.v20250825-0355"/>
      <unit id="org.eclipse.xtext.xtext.ui.feature.group" version="2.40.0.v20250825-0355"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="2.40.0.v20250825-0355"/>
      <unit id="org.eclipse.xtext.testing" version="2.40.0.v20250825-0355"/>
      <unit id="org.eclipse.xtext.xbase.testing" version="2.40.0.v20250825-0355"/>
      <unit id="org.eclipse.xtext.xbase.ui.testing" version="2.40.0.v20250825-0355"/>
      <unit id="org.objectweb.asm" version="9.8.0"/>
      <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.40.0"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
</target>
