<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            category="org.eclipse.debug.ui"
            class="com.wamas.ide.launchview.LaunchView"
            icon="icons/launch_run.gif"
            id="com.wamas.ide.launchview.launchView"
            name="Launch Configurations"
            restorable="true">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.wamas.ide.launchview.launchView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>


</plugin>
